<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-539GGR6');
    </script>
        <!-- End Google Tag Manager -->


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Public Services and Procurement Canada - NextGen Travel Program</title>
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="js/vue-clipboard.min.js"></script>
    <script>
        window.addEventListener = window.addEventListener || function (e, f) {
            window.attachEvent('on' + e, f);
        };
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-539GGR6" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div id="vapp">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="./fr/index.html">Français</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Page Content -->
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="jumbotron" style="background:transparent !important">
                        <div class="text-center">
                            <img src="./images/cfc-web-logo.png" alt="Code for Canada Logo" width=258
                                style="margin-right: 30px;">
                            <img src="./images/nextgen-web-logo-en.png"
                                alt="Public Services and Procurement Canada - NextGen Travel Program Logo" width=365>
                        </div>

                        <br />

                        <h1 class="display-4 text-center">Call for User Research Participants</h1>
                        <p class="lead">
                            The Next Generation (NextGen) Travel Program is a team within Public Services and
                            Procurement Canada with a mandate to re-imagine the future of travel for the Government of
                            Canada (GC) by focusing on what the users need. We are focusing on a solution that works for
                            you, so you can focus on your work and what really matters. Together, we are setting a new
                            standard for GC travel and are excited to build something exceptional together.</p>
                        <p class="lead">
                            Continuing to build on our cross-country engagement tour with hundreds of public servants
                            like yourself, we've partnered with <a target="_blank" href="https://www.codefor.ca">Code
                                for Canada</a> to
                            explore what a user-centric business
                            travel service could look like. To do this, we are looking to gather more feedback, in the
                            form of one-on-one interviews, surveys and other research. Could this be you? Are you
                            interested? Please fill in the form below and we'll be in touch!
                        </p>

                        <hr class="my-4">
                        <p>
                            Code for Canada is a national nonprofit that connects government innovators with the tech
                            and design community. Our programs enable governments to deliver better digital public
                            services and empower communities to solve civic challenges using technology and design.
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center">Privacy Notice</h2>
                            <br />
                        </div>
                    </div>
                    <p>
                        Public Services and Procurement Canada (PSPC) - NextGen Travel Program is committed to
                        protecting the privacy rights of individuals.<br />
                        <br />
                        <div class="text-center">
                            <a class="btn btn-dark" data-toggle="collapse" href="#collapse" role="button"
                                aria-expanded="false" aria-controls="collapse">
                                Expand
                            </a>
                        </div>
                    </p>
                    <div class="collapse" id="collapse">
                        <div class="card card-body" style="text-align: left;">
                            <p>The definition of “personal information” is any information, in any form, about an
                                identifiable individual. Refer to section 3 of the <a target="_blank"
                                    href="http://laws-lois.justice.gc.ca/eng/acts/P-21/">Privacy Act</a> for further
                                details
                                regarding personal information.</p>
                            <p>The personal information you provide will be used by Public Services and Procurement
                                Canada for research and development purposes only; and is collected under the authority
                                of section 11 of Public Service Employment Act. Provision of your information is
                                voluntary, and will not be used to make any administrative decisions about you.</p>
                            <p>Personal information is collected and used as described in the Treasury Board
                                Secretariat’s Standard Personal Information Bank Outreach Activities (PSU 938)</p>
                            <p>Individuals have the right to file a complaint with the <a target="_blank"
                                    href="https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/access-information/information-about-programs-information-holdings/standard-personal-information-banks.html#psu938">Privacy
                                    Commissioner of Canada</a>
                                regarding the department’s handling of their personal information.</p>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center">Research Participant Diversity & Inclusivity</h2>
                            <p>
                                Inclusivity and accessibility are very important to us. As part of our research, we aim
                                to collect information on, and speak to, a pool of participants that is as diverse and
                                representative of the people who work within the federal public service. This
                                information will be kept confidential and will only be used to ensure equitable
                                participation.
                            </p>
                            <p>
                                We appreciate your interest in helping to develop a user-centric travel service for the
                                Government of Canada. To sign up, please contact us via the form below.
                            </p>
                            <br />
                        </div>
                    </div>
                    <div v-if="!copyPaste" class="row">
                        <div class="col-sm-12">
                            <h2 class="text-center">Participate</h2>
                            <p>Thank you for your interest in participating in User Experience Research with NextGen
                                Travel! Please answer the following questions and we will contact you with relevant
                                research opportunities.</p>
                            <form>
                                <div class="form-group">
                                    <label for="travelActivities"><b>Which travel-related activities are part of your
                                            work
                                            responsibilities? (Check all that apply)</b></label>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="travelActivities" type="checkbox"
                                            value="I do or have travelled for work (in the last two years)"
                                            name="responsibilities" id="traveledForWork" v-model="traveledForWor">
                                        <label class="form-check-label" for="traveledForWork">
                                            I do or have travelled for work (in the last two years)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="travelActivities" type="checkbox"
                                            value="I have travelled for work (more than two years ago)"
                                            name="responsibilities" id="assist">
                                        <label class="form-check-label" for="assist">
                                            I have travelled for work (more than two years ago)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="travelActivities" type="checkbox"
                                            value="I assist others with booking travel or claiming expenses"
                                            name="responsibilities" id="approveforothers">
                                        <label class="form-check-label" for="approveforothers">
                                            I assist others with booking travel or claiming expenses
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="travelActivities" type="checkbox"
                                            value="I approve travel for others" name="responsibilities"
                                            id="processOrReviews">
                                        <label class="form-check-label" for="processOrReviews">
                                            I approve travel for others
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="travelActivities" type="checkbox"
                                            value="I review, process or approve financials related to travel"
                                            name="responsibilities" id="processOrReviews">
                                        <label class="form-check-label" for="processOrReviews">
                                            I review, process or approve financials related to travel
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="travelActivities" type="checkbox"
                                            value="Other, please specify" name="responsibilities"
                                            id="travelActivitiesOther">
                                        <label class="form-check-label" for="other">
                                            Other, please specify
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input id="hiddentravelActivitiesOther" v-model="travelActivitiesOther"
                                            type="text" name="travelActivitiesOther" class="form-control"
                                            aria-describedby="travelActivitiesOther" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="travelActivities"><b>Primary work location</b></label>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="primaryWorkLocation" type="radio"
                                            name="location" value="National Capital Region" id="nationalCapitalRegion">
                                        <label class="form-check-label" for="nationalCapitalRegion">
                                            National Capital Region
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="primaryWorkLocation" type="radio"
                                            name="locationOther" value="other" id="locationOtherCheckbox">
                                        <label class="form-check-label" for="locationOther">
                                            Other, please specify
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input id="hiddenPrimaryWorkLocationOther" v-model="primaryWorkLocationOther"
                                            type="text" name="locationOther" class="form-control"
                                            aria-describedby="PrimaryWorkLocationOther" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="participation"><b>How would you like to participate in our
                                            studies?</b></label>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="participation" type="checkbox"
                                            value="I'm willing to travel locally to meet you" name="participate"
                                            id="willingToTravelLocally">
                                        <label class="form-check-label" for="willingToTravelLocally">
                                            I'm willing to travel locally to meet you
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="participation" type="checkbox"
                                            value="I'm willing to use my computer and/or mobile phone"
                                            name="participate" id="devices">
                                        <label class="form-check-label" for="devices">
                                            I'm willing to use my computer and/or mobile phone
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="participation" type="checkbox"
                                            value="I'm willing to have a NextGen Travel researcher come visit me at work"
                                            name="participate" id="visitAtWork">
                                        <label class="form-check-label" for="visitAtWork">
                                            I'm willing to have a NextGen Travel researcher come visit me at work
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="participation" type="checkbox"
                                            value="I'm willing to complete online activities or surveys"
                                            name="participate" id="online">
                                        <label class="form-check-label" for="online">
                                            I'm willing to complete online activities or surveys
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="language"><b>In which of these languages would you prefer providing
                                            feedback?</b></label>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="language" type="checkbox"
                                            name="language" value="english" id="english">
                                        <label class="form-check-label" for="english">
                                            English
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" v-model="language" type="checkbox"
                                            name="language" value="french" id="french">
                                        <label class="form-check-label" for="french">
                                            French
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for=""><b>Current Department</b></label>
                                    <input type="text" v-model="currentDepartment" name="currentDepartment"
                                        class="form-control" aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for=""><b>Current title / position</b></label>
                                    <input type="text" v-model="currentTitle" name="currentTitle" class="form-control"
                                        aria-describedby="emailHelp" placeholder="">
                                </div>

                                <div class="form-group">
                                    <label for=""><b>First Name</b></label>
                                    <input type="text" v-model="firstName" name="firstName" class="form-control"
                                        aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for=""><b>Last Name</b></label>
                                    <input type="text" v-model="lastName" name="lastName" class="form-control"
                                        aria-describedby="emailHelp" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for=""><b>Email address</b></label>
                                    <input type="email" v-model="emailAddress" name="emailAddress" class="form-control"
                                        aria-describedby="emailHelp" placeholder="">
                                </div>
                                <button id="openemail" class="btn btn-primary" v-on:click.prevent="submitForm">Open Email</button>
                                <br>
                                <small class="form-text text-muted"><a href="#" v-on:click.prevent="copyPasteShow">Email
                                        client not configured? Click here to copy and paste to email</a></small>
                                <p v-if="errors.length">
                                    <ul>
                                        <li v-for="error in errors">{{ error }}</li>
                                    </ul>
                                </p>
                            </form>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>

            <div class="row justify-content-md-center" id="copyPasteAnchor">
                <div class="col-md-10">
                    <div v-if="copyPaste">
                        <div class="card bg-light mb-3">
                            <div class="card-body">
                                <p>Please copy and paste the following items into the relevant
                                    fields of your email client.</p>
                                <div>
                                    <h5 class="d-inline">Email Address: </h5>
                                    <pre>{{sendTo.join(',')}}</pre>
                                </div>
                                <div>
                                    <h5 class="d-inline">Subject: </h5>
                                    <pre>{{emailSubject}}</pre>
                                </div>
                                <div>
                                    <div>
                                        <h5 class="d-inline">Email Body: </h5>
                                    </div>
                                    <br>
                                    <pre>{{submissionBody}}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>

    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script>
        function mailto(href) {
            window.open(href, '_parent');
        }

        $(function () {
            let travelActivitiesCheckbox = $('#travelActivitiesOther');
            let travelActivitiesHidden = $("#hiddentravelActivitiesOther");
            let locationCheckbox = $('#locationOtherCheckbox');
            let locationHidden = $("#hiddenPrimaryWorkLocationOther");
            travelActivitiesHidden.hide();
            travelActivitiesCheckbox.change(function () {
                if (travelActivitiesCheckbox.is(':checked')) {
                    travelActivitiesHidden.show();
                } else {
                    travelActivitiesHidden.hide();
                    travelActivitiesHidden.val("");
                }
            });
            locationHidden.hide();
            locationCheckbox.change(function () {
                if (locationCheckbox.is(':checked')) {
                    locationHidden.show();
                } else {
                    locationHidden.hide();
                    locationHidden.val("");
                }
            });


        });
        const vueApp = new Vue({
            el: '#vapp',
            data: {
                travelActivities: [],
                travelActivitiesOther: "",
                primaryWorkLocationOther: "",
                primaryWorkLocation: "",
                participation: [],
                language: [],
                currentDepartment: "",
                currentTitle: "",
                firstName: "",
                lastName: "",
                emailAddress: "",
                sendTo: ["michael.jenkins@tpsgc-pwgsc.gc.ca"],
                emailSubject: "Call for User Research Participants",
                copyPaste: false,
                submissionBody: "",
                errors: [],
            },
            methods: {
                submitForm: function () {
                    this.errors = [];
                    if (this.validEmail(this.emailAddress)) {
                        let submissionBody = this.bodyText();
                        let mailString = "mailto:"
                            .concat(this.sendTo.join(","), "?subject=")
                            .concat(this.emailSubject, "&body=")
                            .concat(encodeURIComponent(submissionBody));
                        mailto(mailString);
                    } else {
                        this.errors.push("Email invalid")
                    }
                },
                onCopy: function (e) {
                    e.cancelBubble = true;
                },
                onCopyError: function (e) {},
                validEmail: function (email) {
                    var re =
                        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                },
                copyPasteShow: function () {
                    this.errors = [];
                    if (this.validEmail(this.emailAddress)) {
                        let submissionBody = this.bodyText();
                        console.log(submissionBody)
                        this.submissionBody = submissionBody;
                        this.copyPaste = true;
                        Vue.nextTick(function () {
                            var el = document.getElementById("copyPasteAnchor");
                            el.scrollIntoView({
                                block: 'start'
                            });
                        });
                    } else {
                        this.errors.push("Email invalid")
                    }
                },
                bodyText: function () {
                    return "## Which travel-related activities are part of your work responsibilities?\n"
                        .concat(
                            this.travelActivities.join("\n"),
                            "\n\n## Work Responsibilities Other:\n"
                        )
                        .concat(this.travelActivitiesOther, "\n\n## Primary work location:\n")
                        .concat(
                            this.primaryWorkLocation,
                            "\n\n## Primary work location other:\n"
                        )
                        .concat(
                            this.primaryWorkLocationOther,
                            "\n\n## How would you like to participate in our studies?\n"
                        )
                        .concat(
                            this.participation.join("\n"),
                            "\n\n## In which of these languages would you prefer providing feedback?\n"
                        )
                        .concat(this.language.join("\n"), "\n\n## Current Department:\n")
                        .concat(this.currentDepartment, "\n\n## Current Title:\n")
                        .concat(this.currentTitle, "\n\n## First Name:\n")
                        .concat(this.firstName, "\n\n## Last Name:\n")
                        .concat(this.lastName, "\n\n## Email Address:\n")
                        .concat(this.emailAddress);

                }
            }
        })
    </script>
</body>

</html>